/***** Ajax. NodeJS. BOOTSTRAP. Lesson 04. BOOTSTRAP. Personal Exercise #01 *****/

body {
    width: 100%;
    height: 100vh;
    margin: 30px;
    background-color: #ddd;
}
h1 {
    font-size: 30px;
    color: red;
    line-height: 1.5;
    margin: 0 auto 30px;
    /* text-align: center; */
}

/********** FORM **********/
.input-field {
    display: block;
}
.submit-btn {
    color: green;
    font-weight: 700;
}


/********** CARDS **********/

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    background-color: #fff;
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #000;
    min-height: 50px;
    width: 85%
}

.card {
    margin: 10px 0 0 10px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    line-height: 1.3;
    font-size: 16px;
}
